In [1]:
import sqlite3

In [2]:
# connect to an sqlite database

connection = sqlite3.connect('example.db')
connection

In [3]:
# now we will create a cursor object that will iterate through the rows

cursor = connection.cursor()

In [4]:
# table - we will create the table with the cursor object

cursor.execute('''
Create table If not Exists employees(
     id Integer Primary Key,
     name Text Not Null,
     age Integer,
     department text
               )
''')

# commit the changes

connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
# insert the data in sqlite table

cursor.execute('''
Insert into employees (name,age,department)
               values('vaibhav',20,'Data scientist')
''')

cursor.execute('''
Insert into employees (name,age,department)
               values('aryaman',20,'algotrader')
''')

cursor.execute('''
Insert into employees (name,age,department)
               values('sarthak',18,'software engineer')
''')

connection.commit() # this will commit the changes

In [7]:
# query the data from sqlite3

cursor.execute('Select * from employees')

rows = cursor.fetchall() 

# print the queried data

for row in rows:
    print(row)

(1, 'vaibhav', 20, 'Data scientist')
(2, 'aryaman', 20, 'algotrader')
(3, 'sarthak', 18, 'software engineer')

In [8]:
# update the data in the table

cursor.execute('''
UPDATE employees 
Set age = 34 where name = 'sarthak'
''')

connection.commit()

In [9]:
cursor.execute('Select * from employees')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'vaibhav', 20, 'Data scientist')
(2, 'aryaman', 20, 'algotrader')
(3, 'sarthak', 34, 'software engineer')

In [10]:
# delete the data from the table

cursor.execute('''
Delete from employees
               where name = 'aryaman'
''')

In [11]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'vaibhav', 20, 'Data scientist')
(3, 'sarthak', 34, 'software engineer')

In [12]:
cursor.execute('''
Insert into employees (name,age,department) values ('dj',19,'finance')
''')

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'vaibhav', 20, 'Data scientist')
(3, 'sarthak', 34, 'software engineer')
(4, 'dj', 19, 'finance')

In [17]:
cursor.execute('SELECT * FROM employees WHERE age > 18 ORDER BY age DESC')

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.commit()

(3, 'sarthak', 34, 'software engineer')
(1, 'vaibhav', 20, 'Data scientist')
(4, 'dj', 19, 'finance')

In [20]:
cursor.execute('SELECT * FROM employees WHERE age>18 ORDER BY age DESC')
rows = cursor.fetchall()
print(rows)


cursor.execute('SELECT * FROM employees WHERE age>18 ORDER BY age ASC')
row = cursor.fetchone()
print(row)

connection.commit()

[(3, 'sarthak', 34, 'software engineer'), (1, 'vaibhav', 20, 'Data scientist'), (4, 'dj', 19, 'finance')]
(4, 'dj', 19, 'finance')